annotated-types==0.6.0
asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
Django==5.0.1
djangorestframework==3.14.0
exceptiongroup==1.2.0
idna==3.6
inflection==0.5.1
iniconfig==2.0.0
packaging==23.2
pluggy==1.4.0
pyairtable==2.2.2
pydantic==2.6.0
pydantic_core==2.16.1
pytest==8.0.0
pytest-django==4.8.0
pytz==2024.1
requests==2.31.0
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.9.0
urllib3==2.2.0
